*{ 
margin:0;padding:0;
box-sizing: border-box;
scrollbar-color: transparent transparent;
scrollbar-width: 0px;
}

/*Header styling*/
.header {
    margin-top: 2px;
    padding-top: 2px;
    overflow: hidden;
    background-color: #ffd900;
    height: 120px;
    padding-bottom: 10px;
    margin-bottom: 3px;
}

/*Header hyperink styling*/
.header a{
    float: left;
    padding-left: 10px;
    padding-top: 8px;
}

/*Header logo styling*/
#homepagelogo{
    padding-left: 10px;
}

/*Business year styling*/
#startyear {
    float: right;
    padding-right: 10px;
    padding-top: 45px;
    font-size: 0.6em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: lighter;
    color: #1403fa;
    text-align: center;
}

/*Main wrapper styling*/
#wrapper{
    background-color: #1e1e1e;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
  }

  ul{
    margin-left: 200px;
    margin-right: 200px;
    padding-left: 20pc;
}

 /*Footer wrapper*/
#footerwrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fefefe;
    box-shadow: 3px 3px 3px #333333;
}

/*Footer styling*/
.footer {
    padding-top: 15px;
    background-color: #FFC300;
    border-top: 2px solid #fc9106;
    text-align: center;
}

/*Footer paragraph styling*/
.footer p{
    padding-top: .5em;
    font-size: 1.0em;
    font-style: italic;
    text-align: center;
    color: #080202a7;
    padding-bottom: .5em;
}
/*Footer horizontal line styling*/
hr{
    height: 2px;
    width: 100%;
    color: #f7c7b1;
    background-color: #f3c9b6;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

/*Footer row unordered list*/
.frow1 ul{
    text-decoration: none;
    text-align: center;
    padding-left:0px;
    list-style: none;
}

/*Footer row list*/
.frow1 li{
    display: inline;
    padding-left: 0px;
    list-style: none;
}

/*Footer row list image*/
.frow1 li img{
    filter: grayscale(100%);
    padding-left:0;
}

/*Icons*/
.icon1{
    padding-right: 30px;
}
  
.icon2{
    padding-right: 30px;
}
  
.frow2{
    padding-top: 10px;
    padding-left: 1px;
}
  
.frow2 ul{
    padding-left: 0px;
    text-decoration: none;
    text-align: center;
}
  
.frow2 li{
    display: inline;
    padding-left: 5px;
    list-style: none;
}
