body {
    background-image: url(grey.jpg);
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2em;
    margin-right: 2em;
}

h1 {
    line-height: 150%;
    text-align: center;
    background-color: #ADD8E6;
}

nav {
    text-align: center;
    font-weight: bold;
}

nav a {
    padding: 20px;
}



footer {
    text-align: center;
    background-color: #ADD8E6;
    font-size: .60em;
    line-height: 200%;
    font-weight: bold;
}

img {
    float:right;
}
